@media screen and (max-width:1200px) {
  .hero-image {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width:992px) {}

@media screen and (max-width:640px) {
  .container {
    width: 98%;
  }
}