* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

/* common class / typography */
.container {
  width: 78%;
  margin: 0 auto;
}

#nav,
#hero {
  margin-bottom: 80px;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#nav-container .logo img {
  width: 100%;
  max-width: 148px;
}

#nav-container .menu img {
  width: 100%;
  max-width: 48px;
}