* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  /* padding: 40px; */
  background-color: royalblue;
  row-gap: 100px;
  column-gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  align-items: stretch;
  flex-wrap: wrap;
}

.box {
  background-color: burlywood;
  /* margin: 5px; */
  padding: 50px;
}
